<div class="container">

	<div class="panel panel-default">
	  <div class="panel-heading">RESUME</div>
	  <div class="panel-body">
	    <table class="table table-striped">
	    
		  <p>
		    <strong>Student Name & Number</strong>
		    Louise Heneghan 2887569
		  </p>

		  <p>
		    <strong>Programming Skills</strong>
		    Java, Perfect developer, little bit of Python
		  </p>

		  <p>
		    <strong>Contact information</strong>
		    Phone Number: 0866633358, Email louheneghan@gmail.com@gmail.com
		  </p>

		  <p>
		    <strong>List of subjects:</strong>
		    Formal Specifications, Web frameworks, Distributed Systems, Emerging Technologies
		  </p>

		  <p>
		    <strong>Hobbies and interests</strong>
		    Singing, movies, reading
		  </p>

	  	</table>

	  </div>
	</div>

</div>